/*吸顶导航栏开始*/
	*{padding: 0;margin: 0;}
	.lf{
		float: left;
	}
	.rt{
		float: right;
	}
	a{
		text-decoration: none;
		color: #000;
	}
	
	#XDmynav{
		border-bottom: 1px solid #eee;
	    position: relative;
	    top: -75px;
	    width: 100%;
	    z-index: 5;
	    font-size: 15px;
	    font-weight: 400;
	    background: #ffffff;
	    height: 59px;
	    border-top: 1px solid #fe584d;
	    -webkit-transition-duration: .8s;
	    transition-duration: .8s;
	    -webkit-transition-property: -webkit-transform;
	    transition-property: transform;
	    -webkit-transition-timing-function: cubic-bezier(0.64, 0.15, 0.12, 0.97);
	    transition-timing-function: cubic-bezier(0.64, 0.15, 0.12, 0.97);
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    will-change: transform;
	}
	.header-move{
		transform:  translateY(75px);
	}
	#XDnavwarp{
		height: 58px;
		zoom: 1;
		display: block;
		clear: both;
		width: 1080px!important;
		margin: auto;
		background: transparent;
		position: relative;
	}
	#XDnavwarp .logo{
		width: 160px;
		margin-top: 12px;
	}
	#XDnavwarp .logo a{
		display: block;
		font-size: 0;
	}
	#XDnavwarp .logo h1 img{
		height: 34px;
		display: inline-block;
		vertical-align: middle;
	}
	#XDnavwarp .menu{
		width: 920px;
	}
	#XDnavwarp .menu-warp ul{
		display: block;
		zoom: 1;
	}
	.menu-warp ul li a:hover{
		color: #fe584d!important;
	}
	.menu-warp ul li{
	    display: block;
		float: left;
		position: relative;
		line-height: 58px;
		text-align: left;
		width: 80px;
		font-size: 16px;
		font-family: "微软雅黑";
	}
	.menu-warp ul .home a{
		color:#fe584d; 
	}
	.menu-warp ul .tiyanshi,.APP{
		width: 95px;
	}
	#XDnavwarp .menu-user{
		height: 58px;
		line-height:58px ;
	}
	#XDnavwarp .menu-user .serch{
		margin-top: 14px;
		float: left;
	}
	#XDnavwarp .menu-user .logininfo .span1{
	    width: 1px;
	    height: 20px;
	    padding-left: 20px;
	    background: rgba(0,0,0,0);
	    float: left;
	}
	#XDnavwarp .menu-user .login{
	    font-size: 14px;
	    padding-left: 20px;
	    position: relative;
	    float: left;
	}
	#XDnavwarp .menu-user .register{
	    font-size: 14px;
	    padding-left: 20px;
	    position: relative;
	    float: left;
	}
	.icon-weibiaoti--{
		float: left;
	    display: block;
	    width: 15px;
	}
/*吸顶导航栏结束*/
	

/*注册开始*/
	#register-content{
		position: relative;
	}
	body{
		background: #F5F5F5;
	}
	li{
		list-style: none;
	}
	.register-body{
		background: #fff;
		border: 1px solid #eee;
		margin-top: 30px!important;
		border-radius: 5px;
	}
	.main{
		display: block;
		clear: both;/*清除浮动*/
		width: 1080px!important;
		margin: auto;
		position: relative;
	}
	.register-body .user-info{
		margin: auto;
		color: #4C4C4C;
		font-size: 14px;
		overflow: hidden;
	}
	.info-title{
		padding: 15px 0;
	}
	.info-title h2{
		font-weight: 100;
		font-size: 20px;
		line-height: 24px;
		color: #474747;
		position: relative;
	}
	.info-title h2 i{
		background: #fe5341;
		width: 6px;
		height: 24px;
		margin-right: 18px;
		display: block;
		float: left;
		margin-top: -1px;
	}
	.user-bind-phone{
		margin-bottom: 80px;
		width: 270px;
		display: block;
		margin: auto;
		margin-top: 80px;
	}
	.user-bind-phone .bind-title{
		text-align: center;
		height: 90px;
	}
	.user-bind-phone .bind-title ul{
		width: 180px;
		margin: auto;
		display: block;
		position: relative;
	}
	.user-bind-phone .bind-title ul i{
		content: '';
		display: block;
		width: 40px;
		height: 1px;
		background: #FE584D;
		position: absolute;
		left: 50%;
		top: 25px;
		margin-left: -20px;
	}
	.user-bind-phone .bind-title li.on{
		color:#fe584d;
	}
	.user-bind-phone .bind-title li.on .circular{
		color: #FE584D;
		border: 1px solid #FE584D;
	}
	.user-bind-phone .bind-title li .circular{
		font-size: 17px;
		width: 50px;
		display: block;
		margin: auto;
		line-height: 50px;
		border-radius: 50%;
		border: 1px solid #B2B2B2; 
		color: #B2B2B2;
	}
	.bind-title li .tips{
		margin-top: 15px;
	}
	.bind-yes-use li{
		margin: 20px 0;
	}
	.user-bind-phone label{
		position: relative;
	}
	.user-bind-phone input{
		border: 1px solid #e8e8e8;
		width: 100%;
		padding: 5px;
	}
	input[type=text],select{
		width:100%;
		line-height: 22px;
		height: 22px;
		outline: none;
		display: block;
		background: transparent;
		
	}
	.user-bind-phone .code{
		color: blueviolet;
		font-size: 26px;
		padding: 2px 3px;
		cursor: pointer;
		font-weight: 500;
		position: absolute;
		width: 100px;
		height: 32px;
		left: 180px;
		top: -34px;
		text-align: center;
		line-height: 32px;
		border: 1px solid #E8E8E8;
	}
	.user-bind-phone .right-box{
		position: absolute;
		width: 100px;
		height: 32px;
		left: 180px;
		top: -34px;
		text-align: center;
		line-height: 32px;
		border: 1px solid #E8E8E8;
	}
	.w-160{
		width: 160px!important;
	}
	.use-table-cell{
		margin: 30px 0; 
	}
	.use-table-cell .btn{
		margin: auto;
		display: block;
		cursor: pointer;
		font-size: 14px;
		width: 150px;
		line-height: 36px;
		border-radius: 20px;
		background: #FE584D;
		color: #FFF;
		text-align: center;
	}
	/*注册结束*/

/*底部开始*/
	footer {
	    background: #fdfdfd;
	    border-top: 2px solid #fe584d;
	    color: #b6b6b6;
	    overflow: hidden;
	    width: 100%;
	    line-height: 36px;
	}
	.overhid{
		overflow: hidden;
		margin-top: 30px!important;
		height: 176px;
	}
	.main{
		display: block;
	    clear: both;
	    width: 1080px !important;
	    margin: auto;
	    background: transparent;
	    position: relative;
	}
	.company-desc{
		zoom: 1;
	}
	.company-desc .logo{
		width: 200px;
	}
	.company-desc .logo img{
		width: 135px;
		height: auto;
	}
	footer .list-item{
		width: 520px;
		border-right: 1px solid #f0f0f0;
	}
	footer .list-item .dl-map dl{
	    float: left;
	    min-width: 115px;
	    line-height: 24px;
	    display: inline-block;
	}
	footer .list-item .dl-map dl dt{
		font-size: 12px;
	    color: #333333;
	    margin-bottom: 8px;
	}
	footer .list-item .dl-map dl dd a{
		font-size: 12px;
		color: #999999;
	}
	footer .footer-erweima{
		text-align: center;
		color: #333333;
	}
	footer .footer-erweima .footer-erweima-1{
		margin-right: 35px;
	}
	footer .footer-erweima img{
		width: 140px;
	    height: 140px;
	    display: block;
	}
	footer .footer-erweima div{
		float: left;
		display: block;
	}
	footer .footer-erweima span{
		font-style: normal;
		font-size: 12px;
	}
 footer .friendly-link .friendly-link-box a{
        margin-right: 14px;
        display: inline-block;
    }
	.friendly-link{
		line-height: 24px;
		padding: 26px 0;
		zoom: 1;
		padding-bottom: 50px;
	}
	.friend-link-title{
	    font-size: 12px;
	    color: #333333;
	}
	footer .friend-link-box{
	    float: right;
		width: 985px;
	}
	footer .friend-link-box dl a{
	    margin-right: 14px;
		display: inline-block;
		color: #999999;
		font-size: 12px;
	}
	.footer-botoom{
		text-align: center;
	    background: #f4f4f4;
	    font-size: 12px;
	}
	.footer-botoom p{
		line-height: 24px;
		display: block;
	}
	/*底部结束*/